// colors
$primary-main: #f39c12;
$primary-dark: #d35400;

$shade-black: #10171d;
$shade-dark: #2c3e50;
$shade-medium: #bdc3c7;
$shade-light: #ecf0f1;

// font
$font-style: 'Montserrat', sans-serif;
$font-large: 25px;
$font-medium: 14px;
$font-small: 12px;
